version: '3.8'

services:
  postgres:
    image: 'bitnami/postgresql:latest'
    ports:
      - '5432:5432'
    environment:
      - POSTGRES_USER=docker
      - POSTGRES_PASSWORD=docker
      - POSTGRES_DB=nest-todo
    volumes:
      - nest-todo_pg_data:/bitnami/postgresql  

volumes:
  nest-todo_pg_data:    
   
